<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <style>
        h1 {
            color: cornflowerblue;
            font-size: 32px;
            font-family: "Courier New";
        }
        body {
            background-color: lavender;
        }
        .thumbnail-image{
            max-width: 100%;
            height: auto;
        }
    </style>

    <title>My Blog</title>
</head>
<body>
    <h1>Welcome to my blog!</h1>

    <div class="text-center">
        <img src="https://lh3.googleusercontent.com/pw/ADCreHdUleGkCKd5jL71gqcX5xrd_SuzV56adSLLISFgqWu8uMpLKX50y3bpZhgFcjFwcr8OY5qMozef3E2cyP9jkgL9FKEwYTPc3SFRwoNUZlrlTCJtrcOxGMiOkByvBHNfO9WS270kyKWiB1d0zZ1T-HPn=w1754-h1316-s-no-gm?authuser=0" class="img-thumbnail thumbnail-image"/>
    </div>


</script>
</body>
</html>